head
	title This is the page's title!

section(bg=10)
	h1.
		Spells: A half-decent amalgamation of languages that's... Pretty fast.

section.yeet
	p.
		Have you ever wanted to use a combination of JavaScript, TypeScript,
		MarkDown, and Pug/Jade to mash modules, semi-components, hopes, and
		dreams into something barely representative of the Web Developer you
		really are, but in a fraction of the time it would take you to do the
		same thing in a sane matter (y'know, by _not_ mixing languages
		together)? Well, now you can!