
head
	title Spells!

section.tall#title
	h1.text-center.
		**Spells**: A half-decent amalgamation of languages that's... pretty fast.

section#secondary
	p.
		Have you ever wanted to use a combination of JavaScript, TypeScript, MarkDown, and Pug/Jade to mash modules, components, hopes, and dreams into something barely representative of the Web Developer you really are, but in a fraction of the time it would take you to do the same thing in a sane matter (y'know, by _not_ mixing languages together)? \
		
		Well, now you can!

section
	h2.no-margin _Amalgamation:_
	h3.no-margin _the action, process, or result of combining or uniting._
	p.top-margin Yeah, that's what happened here.



section(style="--vertSpace:20px")
	p(style="font-size:0.8em").no-margin.
		This site was made with the Spells compiler! For more info email me at [`codeiguess@gmail.com`](./tscompiler.pug)
